# Exclude everything by default
/*

# Except for tracked top-level project directories
!/.devcontainer/
!/.github/
!/.github-assets/
!/docs/
!/targets/
/targets/platform/rust_stubs/target/*
/targets/platform/rust_stubs/target/
!/scripts/
!/subprojects/
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles
/scripts/__pycache__/
/build/
target/
**/target/
!/.clang-format
!/.git-blame-ignore-revs
!/.gitattributes
!/.gitignore
!/.gitmodules
!/CONTRIBUTING.md
!/flake.nix
!/meson.build
!/meson.options
!/README.md
